<!DOCTYPE html>
<html>
    <head>



        <meta charset="utf-8" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootsnipp-tabs-custom.css">
        <title>MOderRice</title>
    </head>
    <body ng-app="myApp" ng-controller="IndexControler" id="deviceready">



        <script type="text/javascript" src="cordova.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular-cookies.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular-route.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular-resource.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular-touch.min.js"></script>
        <script src="bower_components/angular/jquery-1.10.2.min.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
        <script type="application/javascript" src="js/index.js"></script>


        <script type="application/javascript" src="js/controler/IndexControler.js"></script>
        <div class="container">
        <div class="row">
            <div class="tabbable-panel" ng-controller="IndexControler">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li ng-repeat="tab in tabs"
                            ng-class="{active:isActiveTab(tab.url)}"
                            ng-click="onClickTab(tab)">{{tab.title}}</li>

                    </ul>
                </div>
            </div>


            <div class="col-xs-4">
                <form >
                    <div class="text-success" ng-repeat="item in data">
                        <h2><input  type="radio" ng-model="RadioChecked.id" value="{{item.id}}">  {{item.name}}</h2>
                    </div>
                    <br/>
                </form>
                <div class="col-xs-6 col-sm-4">
                    <button class="btn btn-default" ng-click="setFood()">Đồng ý</button>
                </div>
            </div>
            <div class="col-xs-6">
                <table class="table-condensed">
                    <tr>
                        <th>
                            <label class="text-success">STT</label>
                        </th>
                        <th>
                            <label class="text-success">Name</label>
                        </th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td>
                            {{item.id + 1}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>


                    </tr>
                </table>

            </div>
        </div>
        </div>


        <script type="text/ng-template" id="one.tpl.html">
            <div class="tab-pane" >
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc.</p>
            </div>
        </script>

        <script type="text/ng-template" id="two.tpl.html">
            <div class="tab-pane">
                <h1>View Two</h1>
                    <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
            </div>
        </script>

        <script type="text/ng-template" id="three.tpl.html">
            <div class="tab-pane">
                <h1>View Three</h1>
                <p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
            </div>
        </script>
        </div>
    </body>
</html>
